%div.MainHeader
	%input#buttonNavigationTrigger.ButtonNavigation{ :type => "button" }
	%h1
		%a.Clear{ :href => "page_home_general.html" } 
			/ Huma Indo Kelapa
			%img{ :src => "../../Resource/Logo/logo_title_primary.svg" }
	%input#buttonLogoutTrigger.ButtonLogout{ :type => "button", :onclick => "goToLogin()" }
	%input#buttonSettingTrigger.ButtonSetting{ :type => "button" }
