%div.MainHeader
	%input#buttonNavigationTrigger.ButtonNavigation{ :type => "button" }
	%h1 Huma Indo Kelapa
	%input#buttonSettingTrigger.ButtonSetting{ :type => "button" }
	%input#buttonLogoutTrigger.ButtonLogout{ :type => "button" }
