%div.MainHeader
	%input#buttonNavigationTrigger.ButtonNavigation{ :type => "button" }
	%h1
		%a.Clear{ :href => "page_home_general.html" } Huma Indo Kelapa
	%input#buttonLogoutTrigger.ButtonLogout{ :type => "button", :onclick => "goToLogin()" }
	%input#buttonSettingTrigger.ButtonSetting{ :type => "button" }
