%nav
	%header
		%img.ImageProfile{ :src => "../../Resource/Photo/photo_profile_loganhowlett.jpg" }
		%div.ProfileContainer
			%span.SpanProfileHeader Logan Howlett
			%span.SpanProfileDetail administrator

	%div.NavigationContainer
		%ul.ListNavigationHeader
			%input#checkboxButtonNavigationHeaderSecurity{ :type => "checkbox", :name => "CheckboxNavigationHeader", :value => "security" }
			%li
				%label{ :for => "checkboxButtonNavigationHeaderSecurity" }
					Security
				%img{ :src => "../../Resource/Icon/Arjuna/icon_navigation_expand.svg"}
				%ul.ListNavigationItem
					%li
						%a.Clear{ :href => "../../Page/HTML/page_security_changepassword.html" } User Password
					%li
						%a.Clear{ :href => "../../Page/HTML/page_security_usergroup.html" } User Group
					%li
						%a.Clear{ :href => "../../Page/HTML/page_security_useraccount.html" } User Account
			%input#checkboxButtonNavigationHeaderTransaction{ :type => "checkbox", :name => "CheckboxNavigationHeader", :value => "transaction" }
			%li
				%label{ :for => "checkboxButtonNavigationHeaderTransaction" }
					Transaction
				%img{ :src => "../../Resource/Icon/Arjuna/icon_navigation_expand.svg"}
				%ul.ListNavigationItem
					%li User Password
					%li User Group
					%li User Account
			%input#checkboxButtonNavigationHeaderReport{ :type => "checkbox", :name => "CheckboxNavigationHeader", :value => "report" }
			%li
				%label{ :for => "checkboxButtonNavigationHeaderReport" }
					Report
				%img{ :src => "../../Resource/Icon/Arjuna/icon_navigation_expand.svg"}
				%ul.ListNavigationItem
					%li User Password
					%li User Group
					%li User Account
			%input#checkboxButtonNavigationHeaderSetting{ :type => "checkbox", :name => "CheckboxNavigationHeader", :value => "setting" }
			%li
				%label{ :for => "checkboxButtonNavigationHeaderSetting" }
					Setting
				%img{ :src => "../../Resource/Icon/Arjuna/icon_navigation_expand.svg"}
				%ul.ListNavigationItem
					%li Pricing
					%li Preference
			%input#checkboxButtonNavigationHeaderManufacturing{ :type => "checkbox", :name => "CheckboxNavigationHeader", :value => "manufacturing" }
			%li
				%label{ :for => "checkboxButtonNavigationHeaderManufacturing" }
					Manufacturing
				%img{ :src => "../../Resource/Icon/Arjuna/icon_navigation_expand.svg"}
				%ul.ListNavigationItem
					%li User Password
					%li User Group
					%li User Account
