!!! 5

%html

	/ HEAD

	%head
		= Haml::Engine.new(File.read("include_general_header.haml")).render
		%title Huma Indo Kelapa - Factory Management System, Security | User Group

		/ JQUERY

		:javascript

			// LOAD

			$(window).load(function()
			{
				progressPage("ProgressPage");
			});


			// READY

			$(document).ready(function()
			{
				navigationPanelShow("buttonNavigationTrigger");
				navigationHeaderShow();
				navigationDetailShow();
				formInitializeSize();
				userInitial("Logan Hawlett", "administrator");

				progressInitialization("ProgressPage");
			});


	/ BODY

	%body

		/ NAVIGATION

		= Haml::Engine.new(File.read("navigation_general_slide.haml")).render

		/ MAIN

		%div#Window

			%main

				/ HEADER

				%header

					= Haml::Engine.new(File.read("header_general_top.haml")).render

					%div.SubHeader
						%h2 Change Password
						/ %span.Description loren ipsum dolores o riordan loewn ipsum dorlores or riordan angels and airwaves
						%ul.ListNavigationDetail
							%input#radioButtonAdd{ :type => "radio", :name => "RadioButtonNavigationDetail", :checked => "true" }
							%li
								%label{ :for => "radioButtonAdd" }
									%h3 Edit
								%div.NavigationDetailBody
									%h3 Edit
								%div.NavigationDetailTail
						%div#MessageContainer
							%div#MessageWingLeft
							/ %img#MessageImage
							%div#MessageText
								%span#MessageTitle Validation Error !
								%br
								%span#MessageDescription your email address is not in the  correct format, example : test@domain.com


				/ FORM

				%form
					%fieldset
						%legend User Password
						%br
						%label.Long{ :for => "textSecurityOldPassword" } Old password
						%br
						%input#textSecurityOldPassword.Long{ :type => "password" }
						%br
						%label.Long{ :for => "areaSecurityNewPassword" } New password
						%br
						%input#textSecurityNewPassword.Long{ :type => "password" }
						%br
						%label.Long{ :for => "areaSecurityConfirmNewPassword" } Confirm new password
						%br
						%input#textSecurityConfirmNewPassword.Long{ :type => "password" }
					%br

					%div.PositionerCenter.Center
						%label{ :for => "buttonChange" }
							%div.ButtonContainer
								%div.ButtonHighlight
								%img{ :src => "../../Resource/Icon/Arjuna/icon_add.svg" }
								%span Change
						%input#buttonChange.ButtonPrimary{ :type => "button", :onclick => "formInitializeMessage('Test', 'LorenIpsum', false)" }
						%label{ :for => "buttonReset" }
							%div.ButtonContainer
								%div.ButtonHighlight
								%img{ :src => "../../Resource/Icon/Arjuna/icon_reset.svg" }
								%span Reset
						%input#buttonReset.ButtonPrimary{ :type => "reset", :onclick => "popUpPageToggle('PopUpConfirmation')" }

		#Curtain

		#ProgressPage
			%div.CurtainLeft
			%div.CurtainRight
			%div.Content
				%img{ :src => "../../Resource/Gif/progress_circle.gif" }
				%span
					It may take a few seconds ...

		#PopUpPage
			#PopUpConfirmation.Content

				/ FORM

				%form
					%fieldset
						%legend User Password
						%br
						%label.Long{ :for => "textSecurityOldPassword" } Old password
						%br
						%input#textSecurityOldPassword.Long{ :type => "password" }
						%br
						%label.Long{ :for => "areaSecurityNewPassword" } New password
						%br
						%input#textSecurityNewPassword.Long{ :type => "password" }
						%br
						%label.Long{ :for => "areaSecurityConfirmNewPassword" } Confirm new password
						%br
						%input#textSecurityConfirmNewPassword.Long{ :type => "password" }
						%br
						%label.Long{ :for => "areaSecurityConfirmNewPassword" } Confirm new password
						%br
						%input#textSecurityConfirmNewPassword.Long{ :type => "password" }
						%br
						%label.Long{ :for => "areaSecurityConfirmNewPassword" } Confirm new password
						%br
						%input#textSecurityConfirmNewPassword.Long{ :type => "password" }
						%br
						%label.Long{ :for => "areaSecurityConfirmNewPassword" } Confirm new password
						%br
						%input#textSecurityConfirmNewPassword.Long{ :type => "password" }
						%br
						%label.Long{ :for => "areaSecurityConfirmNewPassword" } Confirm new password
						%br
						%input#textSecurityConfirmNewPassword.Long{ :type => "password" }

						%br
						%div.PositionerCenter.Center{ :style => "margin-top: 20px;" }
							%label{ :for => "buttonChange" }
								%div.ButtonContainer
									%div.ButtonHighlight
									%img{ :src => "../../Resource/Icon/Arjuna/icon_add.svg" }
									%span Change
							%input#buttonChange.ButtonPrimary{ :type => "button", :onclick => "formInitializeMessage('Test', 'LorenIpsum', false)" }
							%label{ :for => "buttonReset" }
								%div.ButtonContainer
									%div.ButtonHighlight
									%img{ :src => "../../Resource/Icon/Arjuna/icon_reset.svg" }
									%span Reset
							%input#buttonReset.ButtonPrimary{ :type => "reset", :onclick => "popUpPageToggle('PopUpConfirmation')" }
