!!! 5

%html

	/ HEAD

	%head
		= Haml::Engine.new(File.read("include_general_header.haml")).render
		%title Huma Indo Kelapa - Factory Management System, Security | User Group

		/ JQUERY

		:javascript

			// READY

			$(document).ready(function()
			{
				navigationPanelShow("buttonNavigationTrigger");
				navigationHeaderShow();
				navigationDetailShow();
				formInitializeSize();
				userInitial("Logan Hawlett", "administrator");
			});


	/ BODY

	%body

		/ NAVIGATION

		= Haml::Engine.new(File.read("navigation_general_slide.haml")).render

		/ MAIN

		%div#Window

			%main

				/ HEADER

				%header

					= Haml::Engine.new(File.read("header_general_top.haml")).render

					%div.SubHeader
						%h2 User Account
						/ %span.Description loren ipsum dolores o riordan loewn ipsum dorlores or riordan angels and airwaves
						%ul.ListNavigationDetail
							%input#radioButtonFind{ :type => "radio", :name => "RadioButtonNavigationDetail", :checked => "true" }
							%li
								%label{ :for => "radioButtonFind" }
									%h3 Find Existing
								%div.NavigationDetailBody
									%h3 Find Existing
								%div.NavigationDetailTail
							%input#radioButtonAdd{ :type => "radio", :name => "RadioButtonNavigationDetail" }
							%li
								%label{ :for => "radioButtonAdd" }
									%h3 Add New
								%div.NavigationDetailBody
									%h3 Add New
								%div.NavigationDetailTail
						%div#MessageContainer
							%div#MessageWingLeft
							/ %img#MessageImage
							%div#MessageText
								%span#MessageTitle Validation Error !
								%br
								%span#MessageDescription your email address is not in the  correct format, example : test@domain.com

				/ FORM

				%div.FormWindow

					%div.FormContainer

						%form.PositionerLeft
							%fieldset
								%legend User Data
								%br
								%label.Long{ :for => "textSecurityGroupName" } User name
								%br
								%input#textSecurityUserName.Long{ :type => "text" }
								%br
								%label.Long{ :for => "textSecurityGroupCode" } User code
								%br
								%input#textSecurityUserCode.Long{ :type => "text" }
							%br

							%div.PositionerCenter.Center
								%label{ :for => "buttonFind" }
									%div.ButtonContainer
										%div.ButtonHighlight
										%img{ :src => "../../Resource/Icon/Arjuna/icon_find.svg" }
										%span Find Existing
								%input#buttonFind.ButtonPrimary{ :type => "button" }
								%label{ :for => "buttonReset" }
									%div.ButtonContainer
										%div.ButtonHighlight
										%img{ :src => "../../Resource/Icon/Arjuna/icon_reset.svg" }
										%span Reset
								%input#buttonReset.ButtonPrimary{ :type => "reset" }

							%fieldset
								%div#TableGenerator
									%div.TableControl
										%div.TableControlRow
											%div.TableControlLeft
												%img{ :src => "../../Resource/Icon/Arjuna/icon_first_enable.svg" }
												%img{ :src => "../../Resource/Icon/Arjuna/icon_previous_enable.svg" }
												%img{ :src => "../../Resource/Icon/Arjuna/icon_next_enable.svg" }
												%img{ :src => "../../Resource/Icon/Arjuna/icon_last_enable.svg" }
											%div.TableControlCenter
												User Account
											%div.TableControlRight
												Jump to
												%input.Short{ :type => "number" }
											%input#buttonFind.ButtonPrimary{ :type => "button" }
									%table
										%thead
											%tr
												%th User Code
												%th User Name
												%th User Group
										%tbody
											%tr
												%td Anto
												%td Tri Harnanto
												%td Administrator
											%tr
												%td Sur
												%td Surianto Hui
												%td Administrator
											%tr
												%td Bhimbim
												%td Ibrahim Aziz
												%td Administrator
									%div.TableControl
										%div.TableControlRow
											%div.TableControlLeft
											%div.TableControlCenter
											%div.TableControlRight
												Show item per page :
												%input#buttonPage25.ButtonPage{ :type => "button", :value => "25" }
												%input#buttonPage50.ButtonPage{ :type => "button", :value => "50" }
												%input#buttonPage100.ButtonPage{ :type => "button", :value => "100" }

						%form.PositionerLeft
							%fieldset
								%legend User Data
								%br
								%label.Long{ :for => "textSecurityGroupName" } User name
								%br
								%input#textSecurityUserName.Long{ :type => "text" }
								%br
								%label.Long{ :for => "textSecurityGroupCode" } User code
								%br
								%input#textSecurityUserCode.Long{ :type => "text" }
								%br
								%label.Long{ :for => "areaSecurityNewPassword" } New password
								%br
								%input#textSecurityNewPassword.Long{ :type => "password" }
								%br
								%label.Long{ :for => "areaSecurityConfirmNewPassword" } Confirm new password
								%br
								%input#textSecurityConfirmNewPassword.Long{ :type => "password" }
								%br
								%label.Long{ :for => "areaSecurityConfirmNewPassword" } Sex
								%br
								%input#radioButtonSecuritySexFemale{ :type => "radio", :name => "RadioButtonSecuritySex", :value => "female"}
								%div.RadioButton
									%div.Check
								%label{ :for => "radioButtonSecuritySexFemale" } Female
								%input#radioButtonSecuritySexMale{ :type => "radio", :name => "RadioButtonSecuritySex", :value => "male"}
								%div.RadioButton
									%div.Check
								%label{ :for => "radioButtonSecuritySexMale" } Male
								%br
								%label.Long{ :for => "textSecurityAddress" } Religion
								%br
								%select#selectSecurityReligion.Long
									%option{ :value => "moslem" } Islam
									%option{ :value => "catholic" } Kristen Katolik
									%option{ :value => "protestan" } Kristen Protestan
									%option{ :value => "hindu" } Hindu
									%option{ :value => "budha" } Budha
								%br
								%label.Long{ :for => "textSecurityAddress" } Address
								%br
								%textarea#textSecurityAddress.Long
								%br
								%label.Long{ :for => "textSecurityTelephone" } Telephone
								%br
								%input#phoneSecurityTelephone.Long{ :type => "tel" }
								%br
								%label.Long{ :for => "textSecurityGroupName" } Handphone
								%br
								%input#phoneSecurityHandphone.Long{ :type => "tel" }
								%br
								%label.Long{ :for => "textSecurityGroupName" } Email
								%br
								%input#emailSecurityEmail.Long{ :type => "email" }
							%br

							%div.PositionerCenter.Center
								%label{ :for => "buttonAdd" }
									%div.ButtonContainer
										%div.ButtonHighlight
										%img{ :src => "../../Resource/Icon/Arjuna/icon_add.svg" }
										%span Add New
								%input#buttonAdd.ButtonPrimary{ :type => "button", :onclick => "formInitializeMessage('Validation Error !', 'Loren ipsum dolores o riordan.', false)" }
								%label{ :for => "buttonReset" }
									%div.ButtonContainer
										%div.ButtonHighlight
										%img{ :src => "../../Resource/Icon/Arjuna/icon_reset.svg" }
										%span Reset
								%input#buttonReset.ButtonPrimary{ :type => "reset" }

		#Curtain
