!!! 5

%html

	/ HEAD

	%head
		= Haml::Engine.new(File.read("include_home_header.haml")).render
		%title Huma Indo Kelapa - Factory Management System, Home

		/ JQUERY

		:javascript

			// READY

			$(document).ready(function()
			{
				navigationTileShow("RadioButtonNavigationTile");
				userInitial("Logan Hawlett", "administrator");

				var objectNavigationHeader = [];
				objectNavigationHeader.push({ id: "Setting", text: "Setting" });
				objectNavigationHeader.push({ id: "Security", text: "User Setting" });
				objectNavigationHeader.push({ id: "Processing", text: "Processing" });
				objectNavigationHeader.push({ id: "Report", text: "Report" });
				objectNavigationHeader.push({ id: "Transaction", text: "Transaction" });
				// objectNavigationHeader.push({ id: "Master", text: "Master" });

				var objectNavigationItem = [];
				objectNavigationItem.push({ id: "UserPassword", text: "User Password" });
				// objectNavigationItem.push({ id: "UserAccount", text: "User Account" });
				// objectNavigationItem.push({ id: "UserGroup", text: "User Group" });
				objectNavigationItem.push({ id: "Purchasing", text: "Purchasing" });
				objectNavigationItem.push({ id: "PurchasingProduct", text: "Purchasing Product" });
				objectNavigationItem.push({ id: "BasePrice", text: "Base Price" });
				objectNavigationItem.push({ id: "RAWMaterial", text: "RAW Material" });
				objectNavigationItem.push({ id: "Flour", text: "Flour" });


				/* NAVIGATION */

				filterNavigationHeader(objectNavigationHeader);
				filterNavigationItem(objectNavigationItem);
			});


	/ BODY

	%body#Home

		/ HEADER

		%header
			= Haml::Engine.new(File.read("header_home_top.haml")).render

		/ ASIDE

		%aside
			// %img.ImageProfile{ :src => "../../Resource/Photo/photo_profile_loganhowlett.jpg" }
			%div#InitialProfile

			%ul
				%li
					%span#ProfileHeader.SpanProfileHeader Logan Howlett
					%span#ProfileDetail.SpanProfileDetail username
				%li
					%span.SpanProfileHeader Administrator
					%span.SpanProfileDetail user group
				%li
					%span.SpanProfileHeader Jambi
					%span.SpanProfileDetail branch
				%li
					%span.SpanProfileHeader Jane Grey
					%span.SpanProfileDetail supervisor
				%li
					%span.SpanProfileHeader 1234567890
					%span.SpanProfileDetail employee id
				%li
					%span.SpanProfileHeader logan_howlett@hik.com
					%span.SpanProfileDetail email

		/ MAIN

		%main
			%nav
				%input#radioButtonNavigationHeaderSetting{ :type => "radio", :name => "RadioButtonNavigationTile", :value => "NavigationItemSetting" }
				%label{ :for => "radioButtonNavigationHeaderSetting" }
					%div#NavigationSettingHeader.NavigationHeader.Square
						%span.SpanNavigationHeader Setting
						%div.NavigationHorn
				%div#NavigationSettingItem1.NavigationItem.Highlight{ :name => "NavigationItemSetting" }
					%div.Card
						%div.Front
						%div.Back
							%span.SpanNavigationItem Base Price
				%div#NavigationSettingItem2.NavigationItem.Base{ :name => "NavigationItemSetting" }
					%div.Card
						%div.Front
						%div.Back
							%span.SpanNavigationItem Minimum Selling Price
				%div#NavigationSettingItem3.NavigationItem.Base{ :name => "NavigationItemSetting" }
					%div.Card
						%div.Front
						%div.Back
							%span.SpanNavigationItem Ratio Production
				%input#radioButtonNavigationHeaderReport{ :type => "radio", :name => "RadioButtonNavigationTile", :value => "NavigationItemReport" }
				%label{ :for => "radioButtonNavigationHeaderReport" }
					%div#NavigationReportHeader.NavigationHeader.Board
						%span.SpanNavigationHeader Report
						%div.NavigationWingLeft
				%div#NavigationReportItem1.NavigationItem.Highlight{ :name => "NavigationItemReport" }
					%div.Card
						%div.Front
						%div.Back
							%span.SpanNavigationItem Purchasing
				%div#NavigationReportItem2.NavigationItem.Base{ :name => "NavigationItemReport" }
					%div.Card
						%div.Front
						%div.Back
							%span.SpanNavigationItem Purchasing Product
				%div#NavigationReportItem3.NavigationItem.Base{ :name => "NavigationItemReport" }
					%div.Card
						%div.Front
						%div.Back
							%span.SpanNavigationItem Movement Stock Product
				%div#NavigationReportItem4.NavigationItem.Highlight{ :name => "NavigationItemReport" }
					%div.Card
						%div.Front
						%div.Back
							%span.SpanNavigationItem Sales
				%div#NavigationReportItem5.NavigationItem.Base{ :name => "NavigationItemReport" }
					%div.Card
						%div.Front
						%div.Back
							%span.SpanNavigationItem Payment Contract Employee
				%input#radioButtonNavigationHeaderProcessing{ :type => "radio", :name => "RadioButtonNavigationTile", :value => "NavigationItemProcessing" }
				%label{ :for => "radioButtonNavigationHeaderProcessing" }
					%div#NavigationProcessingHeader.NavigationHeader.Board
						%span.SpanNavigationHeader Processing
						%div.NavigationWingRight
				%div#NavigationProcessingItem1.NavigationItem.Base{ :name => "NavigationItemProcessing" }
					%div.Card
						%div.Front
						%div.Back
							%span.SpanNavigationItem RAW Material
				%div#NavigationProcessingItem2.NavigationItem.Base{ :name => "NavigationItemProcessing" }
					%div.Card
						%div.Front
						%div.Back
							%span.SpanNavigationItem Flour
				%div#NavigationProcessingItem3.NavigationItem.Base{ :name => "NavigationItemProcessing" }
					%div.Card
						%div.Front
						%div.Back
							%span.SpanNavigationItem Coconut Oil
				%div#NavigationProcessingItem4.NavigationItem.Highlight{ :name => "NavigationItemProcessing" }
					%div.Card
						%div.Front
						%div.Back
							%span.SpanNavigationItem Pure Coconut Oil
				%div#NavigationProcessingItem5.NavigationItem.Highlight{ :name => "NavigationItemProcessing" }
					%div.Card
						%div.Front
						%div.Back
							%span.SpanNavigationItem Active Carbon
				%input#radioButtonNavigationHeaderSecurity{ :type => "radio", :name => "RadioButtonNavigationTile", :value => "NavigationItemSecurity" }
				%label{ :for => "radioButtonNavigationHeaderSecurity" }
					%div#NavigationSecurityHeader.NavigationHeader.Square
						%span.SpanNavigationHeader Security
						%div.NavigationWingLeft
				%a.Clear{ :href => "../../Page/HTML/page_security_changepassword.html" }
					%div#NavigationSecurityItem1.NavigationItem.Base{ :name => "NavigationItemSecurity" }
						%div.Card
							%div.Front
							%div.Back
								%span.SpanNavigationItem User Password
				%a.Clear{ :href => "../../Page/HTML/page_security_useraccount.html" }
					%div#NavigationSecurityItem2.NavigationItem.Base{ :name => "NavigationItemSecurity" }
						%div.Card
							%div.Front
							%div.Back
								%span.SpanNavigationItem User Account
				%a.Clear{ :href => "../../Page/HTML/page_security_usergroup.html" }
					%div#NavigationSecurityItem3.NavigationItem.Highlight{ :name => "NavigationItemSecurity" }
						%div.Card
							%div.Front
							%div.Back
								%span.SpanNavigationItem User Group
				%a.Clear{ :href => "../../Page/HTML/page_security_resetpassword.html" }
					%div#NavigationSecurityItem4.NavigationItem.Base{ :name => "NavigationItemSecurity" }
						%div.Card
							%div.Front
							%div.Back
								%span.SpanNavigationItem Reset Password
				%input#radioButtonNavigationHeaderTransaction{ :type => "radio", :name => "RadioButtonNavigationTile", :value => "NavigationItemTransaction" }
				%label{ :for => "radioButtonNavigationHeaderTransaction" }
					%div#NavigationTransactionHeader.NavigationHeader.Rectangle
						%span.SpanNavigationHeader Transaction
						%div.NavigationTail
				%div#NavigationTransactionItem1.NavigationItem.Base{ :name => "NavigationItemTransaction" }
					%div.Card
						%div.Front
						%div.Back
							%span.SpanNavigationItem Purchasing
				%div#NavigationTransactionItem2.NavigationItem.Highlight{ :name => "NavigationItemTransaction" }
					%div.Card
						%div.Front
						%div.Back
							%span.SpanNavigationItem Sales
				%div#NavigationTransactionItem3.NavigationItem.Base{ :name => "NavigationItemTransaction" }
					%div.Card
						%div.Front
						%div.Back
							%span.SpanNavigationItem Stock Opname
				%div#NavigationTransactionItem4.NavigationItem.Base{ :name => "NavigationItemTransaction" }
					%div.Card
						%div.Front
						%div.Back
							%span.SpanNavigationItem Edit Transaction
				%input#radioButtonNavigationHeaderMaster{ :type => "radio", :name => "RadioButtonNavigationTile", :value => "NavigationItemMaster" }
				%label{ :for => "radioButtonNavigationHeaderMaster" }
					%div#NavigationMasterHeader.NavigationHeader.Square
						%span.SpanNavigationHeader Master
						%div.NavigationWingLeft
				%div#NavigationMasterItem1.NavigationItem.Highlight{ :name => "NavigationItemMaster" }
					%div.Card
						%div.Front
						%div.Back
							%span.SpanNavigationItem Customer
				%div#NavigationMasterItem2.NavigationItem.Base{ :name => "NavigationItemMaster" }
					%div.Card
						%div.Front
						%div.Back
							%span.SpanNavigationItem Supplier
				%div#NavigationMasterItem3.NavigationItem.Base{ :name => "NavigationItemMaster" }
					%div.Card
						%div.Front
						%div.Back
							%span.SpanNavigationItem Employee