/* @charset "utf-8"; */
/* CSS Document */


// IMPORT

@import hik-initialization-general
@import hik-setup


// HEADER

main
	header
		div.MainHeader, div.SubHeader
			vertical-align: middle
			left: 0px
			right: 0px
			padding-left: $general_space_large
			padding-right: $general_space_large
			overflow: hidden
		div.MainHeader
			top: 0px
			height: $size_height_mainheader
		div.SubHeader
			height: $size_height_subheader
			padding-left: $general_space_large * 2
			padding-right: $general_space_large * 2
		div#MessageContainer
			position: relative
			float: right
			top: -$size_icon_mdpi
			right: -$general_space_medium * 4 - 400px
			height: $size_height_subheader
			width: 400px
			overflow-x: hidden
			-webkit-transform: skew(-20deg);
			-moz-transform: skew(-20deg);
			-o-transform: skew(-20deg);
			div#MessageWingLeft
				float: left
				margin-left: -40px
				height: $size_height_subheader
				width: 30px
				+Transition(all, 0.5s, ease-out)
			div#MessageText
				float: right
				margin-top: $general_space_small
				margin-left: $general_space_tiny
				margin-right: $general_space_enormous + $general_space_tiny
				margin-bottom: $general_space_tiny
				text-align: right
				span#MessageTitle, span#MessageDescription
					max-width: 280px
					display: block
			img#MessageImage
				float: right
				margin-top: $general_space_small
				margin-left: $general_space_small
				margin-right: $general_space_large
				margin-bottom: $general_space_small

body#Home
	header
		div.MainHeader
			padding-left: $general_space_enormous
			padding-right: $general_space_enormous


// NAVIGATION

.NavigationContainer
	position: absolute
	top: $size_height_mainheader
	left: 0px
	right: 0px
	bottom: 0px
	overflow-y: auto
	overflow-x: hidden

nav
	position: fixed
	top: 0px
	left: -$size_width_navigation
	bottom: 0px
	width: $size_width_navigation
	height: 100%
	padding: 0px
	margin: 0px
	z-index: 5
	header
		height: $size_height_mainheader - $size_icon_mdpi - 4px
		padding-top: ($size_height_mainheader - $size_icon_mdpi) / 2
		padding-left: $general_space_medium
		padding-right: $general_space_medium
		padding-bottom: ($size_height_mainheader - $size_icon_mdpi) / 2
		img, #InitialProfile
			float: left
			width: $size_icon_mdpi
			height: $size_icon_mdpi
			line-height: $size_icon_mdpi
			vertical-align: middle
			background-position: center
			background-size: contain
			background-repeat: no-repeat
			text-align: center
			+BorderRadius(50%)
		.ProfileContainer
			float: left
			margin-left: $general_space_small
			vertical-align: middle
			span
				line-height: 24px
				display: block
			span.SpanProfileHeader
				vertical-align: bottom
			span.SpanProfileDetail
				vertical-align: top
	ul.ListNavigationHeader
		img
			float: right
			margin-top: ($size_height_navigationheader - $size_icon_ldpi) / 2
			margin-left: $general_space_small
			margin-right: $general_space_small
			margin-bottom: ($size_height_navigationheader - $size_icon_ldpi) / 2
			width: $size_icon_ldpi
			height: $size_icon_ldpi
			+Rotate-Z(45deg)

body#Login
	nav
		position: static
		float: right
		padding: 0px
		width: auto
		height: auto
		margin: $general_space_huge

body#Home
	nav
		position: absolute
		top: $size_height_mainheader
		right: $general_space_enormous
		left: 260px
		bottom: 0px
		width: auto
		height: auto
		label
			margin: 0px
			padding: 0px
			width: auto
			height: auto
		.NavigationHeader
			position: absolute
			text-align: center
			.SpanNavigationHeader
				position: relative
				top: 47.5%
				transform: perspective(1px) translateY(-47.5%)
		.NavigationItem
			position: absolute
			text-align: center
			+Perspective(1000px)
			.SpanNavigationItem
				position: relative
				top: 47.5%
				transform: perspective(1px) translateY(-47.5%)
			.Card, .Front, .Back
			.Card
				transform-style: preserve-3d
				position: relative
				.Front, .Back
					position: absolute
					top: 0
					left: 0
					+BackfaceVisibility(hidden)
				.Front
					z-index: 2
					transform: rotateY(0deg)
				.Back
					display: block
					transform: rotateY(180deg)
		.NavigationItem.Flip
			.Card
				transform: rotateY(180deg)
		.Square
			width: $size_tile_square
			height: $size_tile_square
		.Rectangle
			width: $size_tile_square * 2
			height: $size_tile_square
		.Board
			width: $size_tile_board
			height: $size_tile_board


// CONTENT

.FormWindow
	overflow-x: hidden

main
	form
		top: $size_height_mainheader + $size_height_subheader
		bottom: 0px
		padding-top: $general_space_large
		padding-left: $general_space_medium
		padding-right: $general_space_medium
		padding-bottom: $general_space_medium
		text-align: center
		overflow: auto;
		fieldset
			margin: $general_space_medium
			padding: $general_space_medium
			border: none
			text-align: left
			display: block

body#Login
	form
		padding: 0px
		text-align: center
		fieldset
			text-align: center

body#Home
	position: absolute
	top: 0px
	right: 0px
	left: 0px
	bottom: 0px
	width: auto
	height: auto


// CONDITIONER

/* FLEX */

.ContainerFit, .ContainerLeft, .ContainerRight
	display: flex
	flex-wrap: nowrap
	align-content: stretch
	align-items: stretch
	.Item1
		flex-grow: 1
	.Item2
		flex-grow: 2
	.Item3
		flex-grow: 3
.ContainerFit
	justify-content: space-between
.ContainerLeft
	justify-content: flex-start
.ContainerRight
	justify-content: flex-end

/* SIZE */

.Tiny
	min-width: $size_width_tiny
	width: $size_width_tiny
.Short
	min-width: $size_width_short
	width: $size_width_short
.Medium
	min-width: $size_width_medium
	width: $size_width_medium
.Long
	min-width: $size_width_long
	width: $size_width_long
.Full
	width: $size_width_full

.TinyFix
	width: $size_width_short
	max-width: $size_width_short
.ShortFix
	width: $size_width_short
	max-width: $size_width_short
.MediumFix
	width: $size_width_medium
	max-width: $size_width_medium
.LongFix
	width: $size_width_long
	max-width: $size_width_long
.FullFix
	width: $size_width_full
	max-width: $size_width_full

/* ALIGNEMNT */

.Center
	text-align: center
.Left
	text-align: left
.Right
	text-align: right
.Justify
	text-align: justify

/* SPACE */

.Padding
	margin: $general_space_tiny
.Margin
	margin: $general_space_tiny

/* POSITIONER */

.PositionerRight
	float: right
	vertical-align: top

.PositionerLeft
	float: left
	vertical-align: top

.PositionerCenter
	position: relative
	margin: auto


/* PROGRESS PAGE */

#ProgressPageContainer
	position: absolute
	top: 0px
	left: 0px
	right: 0px
	bottom: 0px
	z-index: 5
	.CurtainLeft, .CurtainRight
	.Content
		position: relative
		margin-top: 20%
		margin-left: auto
		margin-right: auto
		text-align: center
		img, span
			position: relative
			margin-top: $general_space_small
			margin-left: auto
			margin-right: auto
			margin-bottom: $general_space_small
			display: block
		img
			width: $size_icon_hdpi
			height: $size_icon_hdpi
