/* @charset "utf-8"; */
/* CSS Document */


// ARJUNA

/* THEME */

/* WHITE SECTION */

$theme_primary_color: #ffffff
$theme_primary_red: 255
$theme_primary_green: 255
$theme_primary_blue: 255
$theme_secondary_color: #F5F5F5
$theme_secondary_red: 245
$theme_secondary_green: 245
$theme_secondary_blue: 245
$theme_tertiary_color: #E1E1E1
$theme_tertiary_red: 225
$theme_tertiary_green: 225
$theme_tertiary_blue: 225

/* HIGHLIGHT SECTION */

$theme_quaternary_color: #0055A0
$theme_quaternary_red: 0
$theme_quaternary_green: 85
$theme_quaternary_blue: 160

/* BLACK SECTION */

$theme_quinary_color: #1E1E1E
$theme_quinary_red: 30
$theme_quinary_green: 30
$theme_quinary_blue: 30
$theme_senary_color: #2D2D2D
$theme_senary_red: 45
$theme_senary_green: 45
$theme_senary_blue: 45
$theme_septenary_color: #3C3C3C
$theme_septenary_red: 60
$theme_septenary_green: 60
$theme_septenary_blue: 60
$theme_octonary_color: #5A5A5A
$theme_octonary_red: 90
$theme_octonary_green: 90
$theme_octonary_blue: 90


/* FORM SECTION */

$theme_success_color: #3cb94b
$theme_fail_color: #c3232d
$theme_valid_color: #c3232d
$theme_invalid_color: #c3232d
$theme_disable_color: #c3232d
$theme_readonlt_color: #c3232d
$theme_enable_color: #c3232d


// IMPORT

@import hik-initialization-general


// SETUP

/* SEMANTIC ELEMENTS */

body
	background-color: $theme_senary_color

body#Login
	background-image: url("../../Resource/Photo/Arjuna/photo_background_login.jpg")

body#Home
	background-color: $theme_quinary_color

#Curtain
	background-color: rgba($theme_quinary_red, $theme_quinary_green, $theme_quinary_blue, 0.4)

main
	background-color: transparent

/* NEUTRALIZATION */

h1, h2, h3, h4, h5, h6, p, mark, ol, ul, li
	background-color: transparent


// LAYOUT

/* HEADER */

header
	background-color: $theme_primary_color
	div.MainHeader
	div.SubHeader
		background-color: $theme_senary_color
		ul.ListNavigationDetail
			li
				a
					color: $theme_primary_color
				h3
					color: $theme_primary_color
				.NavigationDetailBody
					background-color: $theme_quaternary_color
					h3
						color: $theme_primary_color
				.NavigationDetailTail
					border-left-color: transparent
					border-right-color: transparent
					border-top-color: $theme_quaternary_color
	div#MessageContainer
		background-color: $theme_quaternary_color
		div#MessageWingLeft
			background-color: rgba($theme_quaternary_red + 30, $theme_quaternary_green + 30, $theme_quaternary_blue + 30, 1)
		div#MessageText
			color: $theme_primary_color

body#Home
	header
		background-color: transparent


/* ASIDE */

body#Home
	aside
		ul
			li
				color: $theme_primary_color


/* MAIN */

form
	background-color: $theme_secondary_color
	fieldset
		background-color: $theme_primary_color
		a
			color: $theme_senary_color
	fieldset:empty, fieldset.Transparent
		background-color: transparent

body#Login
	form
		background-color: rgba($theme_quinary_red, $theme_quinary_green, $theme_quinary_blue, 0.4)
		fieldset
			background-color: transparent

.TableControl
	.TableControlRow
		.TableControlLeft, .TableControlCenter, .TableControlRight
			color: $theme_octonary_color

table
	thead
		tr
			th
				background-color: $theme_quaternary_color
				color: $theme_primary_color
				a
					color: $theme_primary_color
	tbody
		tr:nth-child(odd)
			td
				background-color: $theme_primary_color
				color: $theme_senary_color
		tr:nth-child(even)
			td
				background-color: $theme_secondary_color
				color: $theme_senary_color
		tr:hover
			td
				background-color: $theme_octonary_color
				color: $theme_primary_color
				a
					color: $theme_primary_color
		tr
			td
				a
					color: $theme_senary_color
	tfoot
		tr
			td
				background-color: $theme_tertiary_color
				color: $theme_quinary_color


/* NAVIGATION */

nav
	background-color: $theme_quinary_color
	header
		background-color: $theme_quaternary_color
		color: $theme_primary_color
	ul.ListNavigationHeader
		background-color: $theme_quinary_color
		li
			color: $theme_primary_color
			ul.ListNavigationItem
				background-color: $theme_senary_color
				li
					a
						color: $theme_primary_color
	#InitialProfile
		background-color: rgba($theme_quaternary_red + 30, $theme_quaternary_green + 30, $theme_quaternary_blue + 30, 1)

body#Login
	nav
		background-color: transparent
		ul
			li
				padding-left: $general_space_medium
				padding-right: $general_space_medium
				color: $theme_primary_color

body#Home
	nav
		.NavigationHeader
			background-color: $theme_quaternary_color
			.SpanNavigationHeader
				color: $theme_primary_color
		.NavigationItem
			.SpanNavigationItem
				color: $theme_primary_color
			.Card
				.Back
					background-color: rgba($theme_quaternary_red + 30, $theme_quaternary_green + 30, $theme_quaternary_blue + 30, 1)
		.NavigationItem.Base
			.Card
				.Front
					background-color: $theme_quinary_color
		.NavigationItem.Highlight
			.Card
				.Front
					background-color: $theme_senary_color

.NavigationHorn
	border-left-color: transparent
	border-right-color: transparent
	border-bottom-color: $theme_quaternary_color

.NavigationWingLeft
	border-top-color: transparent
	border-bottom-color: transparent
	border-right-color: $theme_quaternary_color

.NavigationWingRight
	border-top-color: transparent
	border-bottom-color: transparent
	border-left-color: $theme_quaternary_color

.NavigationTail
	border-left-color: transparent
	border-right-color: transparent
	border-top-color: $theme_quaternary_color


// FONT

header
	h1
		color: $theme_senary_color
		a
			color: $theme_senary_color
	h2
		color: $theme_primary_color
	p
		color: $theme_senary_color
	.Description
		color: $theme_primary_color

div.TitleContainer
	h1, span
		color: $theme_primary_color

#Home
	header
		h1
			color: $theme_primary_color
			a
				color: $theme_primary_color


// LINK

header
	.ButtonNavigation, .ButtonSetting, .ButtonLogout
		background-color: transparent
	.ButtonNavigation
		background-image: url("../../Resource/Icon/Arjuna/icon_navigation_trigger.svg")
	.ButtonSetting
		background-image: url("../../Resource/Icon/Arjuna/icon_setting.svg")
	.ButtonLogout
		background-image: url("../../Resource/Icon/Arjuna/icon_logout.svg")


// INPUT

input, textarea, select
	border-color: $theme_tertiary_color
	background-color: transparent

body#Login
	input, textarea, select
		border-color: $theme_tertiary_color
		background-color: $theme_primary_color

.Checkbox
	border-color: $theme_tertiary_color
	background-color: transparent
	.Check
		border-color: $theme_quaternary_color
		background-color: transparent

.RadioButton
	border-color: $theme_tertiary_color
	background-color: transparent
	.Check
		background-color: $theme_quaternary_color


// BUTTON

.ButtonContainer
	background-color: $theme_quaternary_color
	color: $theme_primary_color
	.ButtonHighlight
		background-color: rgba($theme_quaternary_red + 30, $theme_quaternary_green + 30, $theme_quaternary_blue + 30, 1)
	img
		background-color: transparent

.ButtonPage
	color: $theme_quaternary_color
	border-color: $theme_quaternary_color
	background-color: transparent

.ButtonPage:hover
	background-color: rgba($theme_quaternary_red + 30, $theme_quaternary_green + 30, $theme_quaternary_blue + 30, 1)
	color: $theme_primary_color
