/* @charset "utf-8"; */
/* CSS Document */


// IMPORT

@import hik-initialization-general


// LINK

/* Clear Hyperlink */

a.Clear
	text-decoration: none

a.Clear:link
	text-decoration: none

a.Clear:visited
	text-decoration: none

a.Clear:hover
	text-decoration: none

a.Clear:active
	text-decoration: none

/* Underline Hyperlink */

a.Underline
	text-decoration: underline

a.Underline:link
	color: inherit
	text-decoration: underline

a.Underline:visited
	color: inherit
	text-decoration: underline

a.Underlinek:hover
	color: inherit
	text-decoration: underline

a.Underline:active
	color: inherit
	text-decoration: underline


// HEADER

header
	.ButtonNavigation, .ButtonSetting, .ButtonLogout
		width: $size_icon_mdpi
		height: $size_icon_mdpi
		background-position: center
		background-repeat: no-repeat
		background-size: contain
		border: none
		vertical-align: middle
	.ButtonNavigation
		margin-left: $general_space_small
		margin-right: $general_space_small
	.ButtonSetting, .ButtonLogout
		float: right
		margin-top: ($size_height_mainheader / 2) - ($size_icon_mdpi / 2)
		margin-left: $general_space_small
		margin-right: $general_space_small
		margin-bottom: ($size_height_mainheader / 2) - ($size_icon_mdpi / 2)


/* NAVIGATION */

input[name="RadioButtonNavigationDetail"] + li .NavigationDetailBody
	+Animation(animationNavigationDetailBodyHide, 0.25s, 0s, 1, forwards)

input[name="RadioButtonNavigationDetail"]:checked + li .NavigationDetailBody
	+Animation(animationNavigationDetailBodyShow, 0.25s, 0s, 1, forwards)

input[name="RadioButtonNavigationDetail"] + li .NavigationDetailTail
	+Animation(animationNavigationDetailTailHide, 0.25s, 0s, 1, forwards)

input[name="RadioButtonNavigationDetail"]:checked + li .NavigationDetailTail
	border-top-style: solid
	+Animation(animationNavigationDetailTailShow, 0.25s, 0s, 1, forwards)

.NavigationDetailBody
	height: $size_height_navigationdetail

.NavigationDetailTail
	position: absolute
	margin-top: -$size_height_navigationdetail
	width: 0px
	height: 0px
	border-left-style: solid
	border-left-width: $size_height_navigationdetailtail
	border-right-style: solid
	border-right-width: $size_height_navigationdetailtail
	border-top-style: none

.NavigationHorn, .NavigationWingLeft, .NavigationWingRight, .NavigationTail
	position: absolute
	width: 0px
	height: 0px
	z-index: 2

.NavigationHorn, .NavigationTail
	left: 50%
	margin-left: -$size_height_navigationdetailtail

.NavigationWingLeft, .NavigationWingRight
	top: 50%
	margin-top: -$size_height_navigationdetailtail

.NavigationHorn
	top: 0px
	border-left-style: solid
	border-left-width: $size_height_navigationdetailtail
	border-right-style: solid
	border-right-width: $size_height_navigationdetailtail
	border-bottom-style: solid
	border-bottom-width: $size_height_navigationdetailtail

.NavigationWingLeft
	left: 0px
	border-top-style: solid
	border-top-width: $size_height_navigationdetailtail
	border-right-style: solid
	border-right-width: $size_height_navigationdetailtail
	border-bottom-style: solid
	border-bottom-width: $size_height_navigationdetailtail

.NavigationWingRight
	right: 0px
	border-top-style: solid
	border-top-width: $size_height_navigationdetailtail
	border-left-style: solid
	border-left-width: $size_height_navigationdetailtail
	border-bottom-style: solid
	border-bottom-width: $size_height_navigationdetailtail

.NavigationTail
	bottom: 0px
	border-left-style: solid
	border-left-width: $size_height_navigationdetailtail
	border-right-style: solid
	border-right-width: $size_height_navigationdetailtail
	border-top-style: solid
	border-top-width: $size_height_navigationdetailtail


/* CONTENT */

fieldset
	a
		text-decoration: none


/* BUTTON */

.ButtonPrimary, .ButtonSecondary
	display: none

.ButtonContainer
	margin: $general_space_little
	height: $size_height_single
	line-height: $size_height_single
	display: inline-block
	vertical-align: middle
	overflow-x: hidden
	padding-right: $general_space_small
	.ButtonHighlight
		position: absolute
		width: 0px
		height: $size_height_single
		vertical-align: middle
	img
		position: absolute
		width: $size_width_tiny
		height: $size_height_single
		display: inline-block
		vertical-align: middle
	span
		margin-left: $general_space_small + $size_width_tiny
.ButtonContainer:hover > .ButtonHighlight
	width: $size_width_tiny

.ButtonPage
	margin-left: $general_space_tiny
	margin-right: $general_space_tiny
	height: $size_icon_ldpi
	width: $size_icon_ldpi
	padding: 0px
	display: inline-block
	vertical-align: middle
	text-align: center
	border-style: solid
	border-width: $size_border_thin
	font-size: $fontsize_button_table
