/* @charset "utf-8"; */
/* CSS Document */


// IMPORT

@import hik-initialization-general


// NAVIGATION

/* NAVIGATION DETAIL */

+Keyframes(animationNavigationDetailBodyShow)
	0%
	100%
		+TransformY(-$size_height_navigationdetail)

+Keyframes(animationNavigationDetailBodyHide)
	0%
	100%
		+TransformY($size_height_navigationdetail)

+Keyframes(animationNavigationDetailTailShow)
	0%
		border-top-width: 0px
	100%
		border-top-width: $size_height_navigationdetailtail

+Keyframes(animationNavigationDetailTailHide)
	0%
		border-top-width: $size_height_navigationdetailtail
	100%
		border-top-width: 0px


// INPUT

/* CHECKBOX */

+Keyframes(animationCheckboxChecked)
	0%
		margin-top: $general_space_little
		height: 0px
		width: 0px
		border-left-style: none
		border-bottom-style: none
	100%
		margin-top: $general_space_tiny
		height: $size_icon_ldpi / 9
		width: $size_icon_ldpi / 3
		border-left-style: solid
		border-bottom-style: solid

+Keyframes(animationCheckboxNotChecked)
	0%
		margin-top: $general_space_tiny
		height: $size_icon_ldpi / 9
		width: $size_icon_ldpi / 3
		border-left-style: solid
		border-bottom-style: solid
	100%
		margin-top: $general_space_little
		height: 0px
		width: 0px
		border-left-style: none
		border-bottom-style: none

/* RADIO BUTTON */
