/* @charset "utf-8"; */
/* CSS Document */


// IMPORT

@import hik-initialization-general


// TEXT

input, textarea, select
	margin-top: $general_space_thin
	margin-bottom: $general_space_thin
	font-size: $fontsize_input_fieldset
	line-height: $size_height_single
	text-align: left
	vertical-align: middle
	border-style: solid
	border-width: $size_border_thin

input
	height: $size_height_single

textarea
	height: $size_height_tripple


// CHECKBOX

.Checkbox
	width: $size_icon_ldpi
	height: $size_icon_ldpi
	border-style: solid
	border-width: $size_border_thin
	vertical-align: center
	.Check
		position: relative
		margin-top: $general_space_small
		margin-left: auto
		margin-right: auto
		width: $size_icon_ldpi / 2
		border-left-style: solid
		border-bottom-style: solid
		border-left-width: $size_border_bold
		border-bottom-width: $size_border_bold

input[type="checkbox"] + .Checkbox .Check
	+Animation(animationCheckboxNotChecked, 0.25s, 0s, 1, forwards)

input[type="checkbox"]:checked + .Checkbox .Check
	+Animation(animationCheckboxChecked, 0.25s, 0s, 1, forwards)
