/* @charset "utf-8"; */
/* CSS Document */


// IMPORT

@import hik-initialization-general


// HEADER

header
	h1
		font-family: $fontfamily_primary_bold
	h2
		font-family: $fontfamily_primary_bold
	h3
		font-family: $fontfamily_primary_light
	#MessageText
		#MessageTitle
			font-family: $fontfamily_primary_bold
		#MessageDescription
			font-family: $fontfamily_primary_light

div.TitleContainer
	h1
		font-family: $fontfamily_primary_bold
	span
		font-family: $fontfamily_primary_light



// NAVIGATION

nav
	.SpanProfileHeader
		font-family: $fontfamily_primary_regular
	.SpanProfileDetail
		font-family: $fontfamily_primary_light
	ul.ListNavigationHeader
		li
			font-family: $fontfamily_primary_regular
			ul.ListNavigationItem
				li
					font-family: $fontfamily_primary_light
	ul
		li
			font-family: $fontfamily_primary_regular
	#InitialProfile
		font-family: $fontfamily_primary_regular


// CONTENT

form
	fieldset
		legend
			font-family: $fontfamily_primary_bold
		label
			font-family: $fontfamily_primary_light
		.GroupInput
			.GroupHeader
				font-family: $fontfamily_primary_regular
			label
				font-family: $fontfamily_primary_light

// LINK

.ButtonContainer
	font-family: $fontfamily_primary_light
